body {
    font-family: Arial, sans-serif;
    background-color: #12093f;
}

.titulo {
    text-align: center;
    text-decoration: solid, underline;
    color: white;
    box-shadow: 16px 9px 10px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    margin-top: 10px;
}

#movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

#movie-input {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    width: 250px;
    text-align: center;
    position:relative ;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4332a4;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
}

.movie {
    border: 3px solid #ddd;
    border-radius: 10px;
    margin: 15px;
    padding: 20px;
    width: 250px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, rgba(46, 7, 105, 0.412), rgba(25, 29, 160, 0.552), rgb(6, 54, 11));
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}

.actors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.director {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: rgba(0, 244, 81, 0.437);
    text-shadow: #1e082c;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.movie img {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
}

.movie:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

#search-button {
    background-color: #4332a4;
    color: #fff; 
    border: none; 
    padding: 10px 20px; 
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px; 
    transition: background-color 0.5s ease; 
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  #search-button:hover {
    background-color: #2c1b90;
  }